.board-header {
	padding: 4px 4px 0 4px;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: 4px 4px 0 0;
}

.header-button {
	width: 32px;
	height: 32px;
	border-radius: 5px;
	background-color: white;
	margin: 0 4px 4px 0px;
}

.items-start {
	display: inherit;
	flex-wrap: wrap;
	margin: 0;
}
.items-end {
	display: inherit;
	margin-left: auto;
}
.material-icons-outlined.vl-20 {
	font-size: 20px;
	width: 20px;
	height: 20px;
}
.material-icons-outlined.vl-18 {
	font-size: 18px;
	width: 18px;
	height: 18px;
}
.material-icons-outlined.vl-light {
	color: rgba(255, 255, 255, 1) !important;
	overflow: hidden;
	text-overflow: clip;
}

.square-button {
	background-color: hsla(0, 0%, 100%, 0.3);
	border: 1px;
	border-radius: 3px;
	width: 32px;
	height: 32px;
	padding: 6px;
}

.btn-text {
	display: flex;
	background-color: hsla(0, 0%, 100%, 0.3);
	align-items: center;
	border: 1px;
	border-radius: 3px;
	height: 32px;
	padding: 12px;
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 4px 4px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-text:hover {
	background: hsla(0, 0%, 100%, 0.5);
}

.square-button:hover {
	background-color: hsla(0, 0%, 100%, 0.5);
	border: 1px;
	border-radius: 3px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.divider {
	float: left;
	border-left: 1px solid hsla(0, 0%, 100%, 0.24);
	height: 16px;
	margin: 8px 4px 8px 8px;
}

.circle_button {
	background-color: hsla(0, 0%, 100%, 0.3);
	border: 1px;
	border-radius: 20px;
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0 4px 0 4px;
}
.circle_button:hover {
	background-color: hsla(0, 0%, 100%, 0.5);
	border: 1px;
	border-radius: 20px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.board-header-name {
	background: none;
	font-size: 18px;
	font-weight: bold;
	padding: 8px;
	margin: 0 8px 0 0px;
}
.board-header-name:hover {
	background: hsla(0, 0%, 100%, 0.5);
}
.inbutton-text {
	margin: 0 5px 0 5px;
}
