.wrapper {
	display: flex;
	flex-wrap: nowrap;
	white-space: nowrap;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
    padding: 4px;
    max-height: 40px;
}

.container {
	overflow: hidden;
	
}

.start_items > button {
	margin-right: 4px;
}

.end_items > button {
	margin-right: 4px;
}

.header_background {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.logo_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	background: no-repeat url("../../images/trello_logo.png");
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	background-size: contain;
	margin: 5px;
	opacity: 0.5;
}
.logo:hover {
	cursor: pointer;
	opacity: 1;
}

.inline {
	width: 85px !important;
}

.board {
	color: white;
	font-weight: 700;
	margin-left: 3px;
	margin-bottom: 5px;
}
.span > .logo {
	opacity: 0.5;
}
.material-icons-outlined.md-light {
    color: rgba(255, 255, 255, 1) !important;
    line-height: 30px;
}
.material-icons-outlined.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}
.material-icons-outlined.md-20 {
	font-size: 24px;
	width: 24px;
	height: 24px;
}

.square_button {
	background-color: hsla(0, 0%, 100%, 0.3);
	border: 1px;
	border-radius: 3px;
	width: 32px;
	height: 32px;
    padding: 0;
}
.square_button:hover {
	background-color: hsla(0, 0%, 75%, 0.3);
	border: 1px;
	border-radius: 3px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.circle_button {
	background-color: hsla(0, 0%, 100%, 0.3);
	border: 1px;
	border-radius: 20px;
	width: 32px;
	height: 32px;
    padding: 0;
}
.circle_button:hover {
	background-color: hsla(0, 0%, 75%, 0.3);
	border: 1px;
	border-radius: 20px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.blau {
	background: #00c2e0;
}
.blau:hover {
	background: rgba(172, 225, 241, 0.726);
}
