.board-content {
	margin-bottom: 8px;
	margin-right: 8px;
	margin-left: 8px;
	padding-bottom: 8px;
	max-height: 100%;
	min-width: 272px;
	max-width: 272px;
}

.board-list {
	background-color: white;
	margin-right: 8px;
	border-radius: 3px;
	max-height: 100%;
}

.board-content-wrapper {
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	margin-bottom: 8px;
	margin-top: 5px;
	margin-right: 8px;
	scrollbar-width: thin;
}
.board-content-wrapper::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 100%, 0.4);
	border-radius: 5px;
}

/* Track */
.board-content-wrapper::-webkit-scrollbar-track {
	background: hsla(0, 0%, 0%, 0.2);
	border-radius: 5px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 14px;
}

.board-new-list-btn {
	height: 40px;
	min-width: 272px;
	max-width: 272px;
	display: flex;
	background-color: hsla(0, 0%, 100%, 0.3);
	align-items: center;
	border: 1px;
	border-radius: 3px;
	cursor: pointer;
	padding: 6px 8px 8px 8px;
	white-space: nowrap;
	color: white;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.new-list-text {
	font-size: 14px;
	font-weight: 400;
	margin-left: 5px;
}

.board-new-list-btn:hover {
	background: hsla(0, 0%, 100%, 0.5);
}

.material-icons-outlined.vl-16 {
	font-size: 16px;
	width: 16px;
	height: 16px;
}
.usable-lists {
	display: inherit;
}
.new-card-close {
	border: none;
	height: 32px;
	background-color: #ebecf0;
	cursor: pointer;
	user-select: none;
}
button {
	outline: none;
}
button:active {
	background-color: hsla(0, 0%, 75%, 0.3) !important;
}
.material-icons-outlined.bl-24 {
	color: #6b778c;
	font-size: 24px;
	width: 24px;
	height: 24px;
	text-align: center;
}
.material-icons-outlined.bl-24:hover {
	color: black;
}

.new-card-btn {
	height: 32px;
	background: hsla(128, 76%, 33%, 0.8);
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 4px 12px 6px 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 500;
}
.new-card-btn:hover {
	background: hsla(128, 80%, 43%, 0.74);
}

.add-list-container {
	background-color: #ebecf0;
	border-radius: 5px;
	max-width: 100%;
	padding-bottom: 8px;
}
.add-list-textarea-container {
	padding: 6px;
	min-height: 20px;
	max-width: 100%;
	white-space: pre-wrap;
	display: flex;
	align-items: center;
}
.add-list-textarea {
	display: inline-block;
	box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
	border-radius: 3px;
	padding: 6px 12px 15% 8px;
	width: 100%;
	border: none;
	resize: none;
	overflow-y: hidden;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	cursor: pointer;
}
.add-list-btn-container {
	display: inline-flex;
	align-items: center;
	padding: 1px 6px 6px 6px;
}
